@use "../helpers" as *;
// Fonts: Red Hat Text
@font-face {
  font-family: "Red Hat Text";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Red Hat Text";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
}

body {
  background-color: $main-bg;
  font-family: $main-font;
  font-size: 16px;
}
