// COLORS
$red:  hsl(14, 86%, 42%);
$green : hsl(159, 69%, 38%);

$main-bg: hsl(20, 50%, 98%);
$rose100: hsl(13, 31%, 94%);
$rose300: hsl(14, 25%, 72%);
$rose400: hsl(7, 20%, 60%);
$rose500:hsl(12, 20%, 44%);
$rose900: hsl(14, 65%, 9%);

// FONT
$main-font: "RedHatText", sans-serif;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;